body {
    top: 0 ;
    left: 0 ;
    background: url("body1.png") ;
    background-size: 105% ;
    transition-property: all ;
    transition-timing-function: linear ;
    
    transition-duration: 1s ;
    overflow: hidden;
    
}
body h1{

    position: relative ;
    top: 20% ;
    left: 30% ;
    font-size: 50px ;
    text-shadow: 5px 5px 10px rgb(255, 143, 190) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-stretch: semi-expanded ;
    font-style: italic ;
    opacity: 0;
    justify-content: center ;
    align-items: center ;
    color: white ;
}
.dropdown{
    position: fixed;
    top: 0;
    left: 0;
   z-index: 1 ;
}
.dropdown .toggler{
    position: absolute ;
    top: 0 ;
    left: 50% ;
    z-index: 2;
    cursor: pointer ;
    width: 50px ;
    height: 30px ;
    opacity: 0;
    transition: all 0.3s ease ;

}

.dropdown .hamburger{
    position: absolute;
    top: 0;
    left: 40% ;
    
    width: 60px ;
    height: inherit;
    padding: 1rem ;
    background: transparent ;
    opacity: 0.8;
    transition-property: all  ;
    transition-duration: 1s ;


}

.dropdown .l1{
    position: absolute ;
    top: 0;
    left: 40%;
    width: 60px;
    height: 60px ;
    padding: 1rem ;
    background: aqua ;
    opacity: 0.4;
    transition-property: all  ;
    transition-duration: 0.4s ;

   
}
.dropdown .l1 >div{
    position: absolute;
    top: 1.5rem ;
    left: 0rem;
    width: 100%;
    height: 2px;
    background: white ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    transform: rotate(45deg) (0.6);
    transition-property: all  ;
    transition-duration: 0.4s ;
    opacity: 0;

}
.dropdown .l1 >div::after{
    content: ' ' ;
    position: relative;
    top: 0 ;
    left: 0rem;
    width: 100%;
    height: 2px;
    background: white ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    transform: rotate(90deg) ;
    transition-property: all  ;
    transition-duration: 0.4s ;
}


.dropdown .hamburger > div{
    position: relative;
    width: 100% ;
    height: 2px ;
    background: white ;
    display: flex;
    align-items: center ;
    justify-content: center ;
    opacity: 1;
    transition-property: all  ;
    transition-duration: 0.4s ;

}
.dropdown .hamburger > div::after,
.dropdown .hamburger > div::before {

    content: ' ' ;
    position: absolute ;
    z-index: 1;
    width: 100% ;
    height: 2px ;
    margin-top: -10px ;
    background: white ;
    display: flex;
    align-items: center ;
    justify-content: center ;
    transition-property: all  ;
    transition-duration: 0.2s ;
}
.dropdown .hamburger > div::after{

   top: 20px ;
   transition-property: all  ;
    transition-duration: 0.1s ;
}
.dropdown .menu{
    margin-top: 50% ;
    
    visibility: hidden ;
    opacity: 0;
    transition-property: all ;
    transition-duration: 0.8s ; 
}
.dropdown .menu .menuitms >li >a{
    color: rgb(255, 0, 0) ;
    
    text-decoration: none ;
}
#menuitems {
    position: relative;
    background : black ;
    list-style: none;
    margin-top: 50px  ;
    text-align: center ;
    padding: 10% ;
    font-size: 5px ;
    transition-property: all  ;
    transition-duration: 0.6s ;
    z-index: -1;
    height: 100px;
    width: 100px ;
    margin-left: 100% ;
    opacity: 0.2;
    display: flex ;
    flex-direction: column ;
    
    

}
.dropdown .toggler:checked + .hamburger>div{
    transform: rotate(135deg);
    top: 1.5rem ;
    left: 0rem;
}
.dropdown .toggler:checked + .hamburger>div::after{
  
   transform: rotate(-90deg) ;
    
    top: 0.7rem ;
    left: -0.5%;
}
.dropdown .toggler:checked + .hamburger>div::before{
    opacity: 0;

}
.dropdown .toggler:checked + .hamburger{
    height: 40px;
    transform: translateY(20px) ;
    
}

.dropdown .toggler:checked {
   height: 60px;
   transform: translateY(20px) ;
}
.dropdown .toggler:checked ~ .menu{

    visibility: visible ;
    opacity: 1;
    transform: translateY(600px) translateX(-800px) scale(13) ;
}
.dropdown .menu .menuitms >li >a:hover{
    color: aqua ;
}



#rt1{
   
    background: url("./canopy.jpg") ;
    background-size: 100%;
    height: 100px ;
    width: 100px ;
    position: relative ;
    top: 0px ;
    left: 100px;
    cursor: pointer;
}
#rt1img{
    height: 100px ;
    width: 100px ;
    
}
#rt2{
    position: absolute ;
    width: 100PX ;
    height: 100px;
    position: absolute ;
    top: 100px ;
    left: 150px;
}
#rt3{
    
    height: 45px;
    position: absolute ;
    top: 130px ;
    left: 300px;
}
.carousel1{
    
    
    background-image: url("./festival.jpg") ;
    position: absolute ;
    background-size: inherit ;
    
    height: 150px;
    width: 150px;
    top: 400px ;
    left: 100px ;
    transition-property: all ;
    transition-duration: 2s ;
    
}
#carouseltext1{
    opacity: 0;
    position: relative;
    justify-content: center ;
    align-items: center ;
    top: 80px ;
    left: 30px ;
    color: white;

    transition-property: all ;
    transition-duration: 2s ;
}
#carouseltext2{
    opacity: 0;
    position: absolute ;
    justify-content: center ;
    align-items: center ;
    top: 80px ;
    left: 30px ;
    color: white;
    transition-property: all ;
    transition-duration: 2s ;
}
#carouseltext3{
    opacity: 0;
    position: absolute ;
    justify-content: center ;
    align-items: center ;
    top: 80px ;
    left: 30px ;
    color: white;
    
    transition-property: all ;
    transition-duration: 2s ;
}

.carouselpoints{
    position: relative ;
    top: 220px ;
    left: 120px ;
    
    opacity: 0.5;
    display: flex ;
    justify-content: flex-start ;
    
    align-items: center ;
    
}
#pt1{
   background-color: white ;
   opacity: 1;
   height: 15px ;
   width: 5px ;
   color: transparent ;
   border: solid white ;
   border-radius: 50% ; 
   cursor: pointer;
   transition-property: all ;
   transition-duration: 1s ;
}
#pt2{
    position: relative; 
    left: 10px ; 
    background-color: white;
    opacity: 0.6;
    height: 15px ;
    width: 5px ;
    color: transparent ;
    border: solid white ;
    border-radius: 50% ;
    cursor: pointer; 
 }
 #pt3{
  
    position: relative;
    left: 20px ;
    background-color: white ;
    opacity: 0.6;
    height: 15px ;
    width: 5px ;
    color: transparent ;
    border: solid white ;
    border-radius: 50%  ;
    cursor: pointer; 
 }

.pt1 :checked ~ .pt1{
    background-color: white ;
    transform: translateX(20px) ;
}
.reviews{
    position: relative;
    top: 0px ;
    left: 80% ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 30px ;
    font-style: italic ;
    font-stretch: expanded ;
    text-shadow: 5px 5px 10px pink ;
    color: white ;
    align-self: auto ;
    align-items: center ;   
    justify-content: center ;
    height: 200px !important ;
    width: 200px !important ;
    overflow: hidden ;
    transition-property: all ;
    transition-duration: 1s ;
    
}
.review1{

    content: "ONE OF THE BEST DAMN TRILOGIES EVER MADE";
    position: relative ;
    width: 200px ;
    font-size: 30px ;
    align-items: center ;   
    justify-content: center ;

    transition-property: all ;
    transition-duration: 2s ;
}
.review2{

    position: relative;
    top: 0 ;
    width: 200px ;
    margin-top: -5px ;
    font-size: 40px ;
    align-items: center ;   
    justify-content: center ;
    transition-property: all ;
    transition-duration: 2s ;
}
.review3{

    position: relative;
    top: 0 ;
    width: 200px ;
    margin-top: -5px ;
    font-size: 40px ;
    align-items: center ;   
    justify-content: center ;
    transition-property: all ;
    transition-duration: 2s ;
}
.toggler:checked ~ .reviews{

    
    opacity: 0;
    transform: translateY(-200px) ;
}
.intro{
    position: relative; 
    top: 30% ;
    left: 30%;
    font-family: cursive ;    
    font-size: 30px ;
    color: yellow ;
    width: 500px ;
    justify-content: center ;
    align-items: center ;
}

.events{

    position: relative;
    top: 10% ;
    left: 5% ;
    display: grid ;
    grid-template-columns: repeat(4, 1fr) ;
    justify-content: center ;
    align-items: center ;  
    transition-property: all ;
    transition-duration: 2s ; 

}
.events div{
    width: 200px ;
    height: 200px ;
    overflow: hidden;
    padding: 5% ;
}
.events img{
    width: 200px  ;
    height: 200px ;
  
    
}

#ev1_1{

    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 150px ;
    left: 250px ;
    opacity: 1;
    border-radius: 5px ;

}
#ev1_2{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 100px ;
    left: 250px ;
    border-radius: 5px ;
   
}
#ev1_3{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 50px ;
    left: 250px ;
    border-radius: 5px ;
    
} 


.ev1points{
    position: absolute;
    top: -10% ;
    left: -50px;
    width: 100vh ;
    height: 100vh ;
    background: black ;
    opacity: 0;
    color: white ;
    color: aqua ;
    text-shadow: 5px 5px 5px palevioletred ;
    visibility: hidden;
    transition-property: all ;
    transition-duration: 1s ;
}
.ev1check{
    position: relative ;
    transform: translateY(-220px) translateX(-30px ) ; 
    background: transparent ;
    width: 250px ;
    height: 250px;
    z-index: 0;
    opacity: 0;
}
.ev1check:checked{
    z-index: 1;
}   
.ev1check:checked ~ .ev1points{
    visibility: visible;
    opacity: 0.8;
    left: 0;
}
/*ev2*/
#ev2_1{

    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 150px ;
    left: 250px ;
    opacity: 1;
    border-radius: 5px ;

}
#ev2_2{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 100px ;
    left: 250px ;
    border-radius: 5px ;
   
}
#ev2_3{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 50px ;
    left: 250px ;
    border-radius: 5px ;
    
} 


.ev2points{
    position: absolute ;
    top: -10% ;
    left: 300px;
    width: 100vh ;
    height: 100vh ;
    background: black ;
    opacity: 0;
    color: white ;
    color: aqua ;
    text-shadow: 5px 5px 5px palevioletred ;
    visibility: hidden ;
    
    transition-property: all ;
    transition-duration: 1s ;
}
.ev2check{
    position: relative ;
    transform: translateY(-220px) translateX(-30px ) ; 
    background: transparent ;
    width: 250px ;
    height: 250px;
    z-index: 0;
    opacity: 0;
}
.ev2check:checked{
    z-index: 1;
}   
.ev2check:checked ~ .ev2points{
    visibility: visible;
    opacity: 0.8;
    left: 330;
}
/*ev3*/
#ev3_1{

    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 150px ;
    left: 250px ;
    opacity: 1;
    border-radius: 5px ;

}
#ev3_2{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 100px ;
    left: 250px ;
    border-radius: 5px ;
   
}
#ev3_3{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 50px ;
    left: 250px ;
    border-radius: 5px ;
    
} 


.ev3points{
    position: absolute;
    top: -10% ;
    left: 48% ;
    width: 100vh ;
    height: 100vh ;
    background: black ;
    opacity: 0;
   
    color: aqua ;
    text-shadow: 5px 5px 5px palevioletred ;
    visibility: hidden;
    transition-property: all ;
    transition-duration: 1s ;
}
.ev3check{
    position: relative ;
    transform: translateY(-220px) translateX(-30px ) ; 
    background: transparent ;
    width: 250px ;
    height: 250px;
    z-index: 0;
    opacity: 0;
}
.ev3check:checked{
    z-index: 1;
}   
.ev3check:checked ~ .ev3points{
    visibility: visible;
    opacity: 0.8;
    left: 50%;
}
/*ev4*/
#ev4_1{

    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 150px ;
    left: 250px ;
    opacity: 1;
    border-radius: 5px ;

}
#ev4_2{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 100px ;
    left: 250px ;
    border-radius: 5px ;
   
}
#ev4_3{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 50px ;
    left: 250px ;
    border-radius: 5px ;
    
} 


.ev4points{
    position: absolute;
    top: -10% ;
    left: 70%;
    width: 100vh ;
    height: 100vh ;
    background: black ;
    opacity: 0;
    color: aqua ;
    text-shadow: 5px 5px 5px palevioletred ;
    visibility: hidden;
    transition-property: all ;
    transition-duration: 1s ;
}
.ev4check{
    position: relative ;
    transform: translateY(-220px) translateX(-30px ) ; 
    background: transparent ;
    width: 250px ;
    height: 250px;
    z-index: 0;
    opacity: 0;
}
.ev4check:checked{
    z-index: 1;
}   
.ev4check:checked ~ .ev4points{
    visibility: visible;
    opacity: 0.8;
    left: 72%;
}
/*ev5*/
#ev5_1{

    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 150px ;
    left: 250px ;
    opacity: 1;
    border-radius: 5px ;

}
#ev5_2{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 100px ;
    left: 250px ;
    border-radius: 5px ;
   
}
#ev5_3{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 50px ;
    left: 250px ;
    border-radius: 5px ;
    
} 


.ev5points{
    position: absolute;
    top: 50% ;
    left: -50px;
    width: 100vh ;
    height: 100vh ;
    background: black ;
    opacity: 0;
    color: white ;
    color: aqua ;
    text-shadow: 5px 5px 5px palevioletred ;
    visibility: hidden;
    transition-property: all ;
    transition-duration: 1s ;
}
.ev5check{
    position: relative ;
    transform: translateY(-220px) translateX(-30px ) ; 
    background: transparent ;
    width: 250px ;
    height: 250px;
    z-index: 0;
    opacity: 0;
}
.ev5check:checked{
    z-index: 1;
}   
.ev5check:checked ~ .ev5points{
    visibility: visible;
    opacity: 0.8;
    left: 0;
}
/*ev6*/
#ev6_1{

    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 150px ;
    left: 250px ;
    opacity: 1;
    border-radius: 5px ;

}
#ev6_2{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 100px ;
    left: 250px ;
    border-radius: 5px ;
   
}
#ev6_3{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 50px ;
    left: 250px ;
    border-radius: 5px ;
    
} 


.ev6points{
    position: absolute;
    top: 50% ;
    left: 23%;
    width: 100vh ;
    height: 100vh ;
    background: black ;
    opacity: 0;
    color: white ;
    color: aqua ;
    text-shadow: 5px 5px 5px palevioletred ;
    visibility: hidden ;
    transition-property: all ;
    transition-duration: 1s ;
}
.ev6check{
    position: relative ;
    transform: translateY(-220px) translateX(-30px ) ; 
    background: transparent ;
    width: 250px ;
    height: 250px;
    z-index: 0;
    opacity: 0;
}
.ev6check:checked{
    z-index: 1;
}   
.ev6check:checked ~ .ev6points{
    visibility: visible;
    opacity: 0.8;
    left: 25%;
}
/*ev7*/
#ev7_1{

    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 150px ;
    left: 250px ;
    opacity: 1;
    border-radius: 5px ;

}
#ev7_2{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 100px ;
    left: 250px ;
    border-radius: 5px ;
   
}
#ev7_3{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 50px ;
    left: 250px ;
    border-radius: 5px ;
    
} 


.ev7points{
    position: absolute;
    top: 50% ;
    left: 48%;
    width: 100vh ;
    height: 100vh ;
    background: black ;
    opacity: 0;
    color: white ;
    color: aqua ;
    text-shadow: 5px 5px 5px palevioletred ;
    visibility: hidden;
    transition-property: all ;
    transition-duration: 1s ;
}
.ev7check{
    position: relative ;
    transform: translateY(-220px) translateX(-30px ) ; 
    background: transparent ;
    width: 250px ;
    height: 250px;
    z-index: 0;
    opacity: 0;
}
.ev7check:checked{
    z-index: 1;
}   
.ev7check:checked ~ .ev7points{
    visibility: visible;
    opacity: 0.8;
    left: 50%;
}
/*ev8*/
#ev8_1{

    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 150px ;
    left: 250px ;
    opacity: 1;
    border-radius: 5px ;

}
#ev8_2{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 100px ;
    left: 250px ;
    border-radius: 5px ;
   
}
#ev8_3{
    width: 50px ;
    height: 50px ;
    position: absolute ;
    top: 50px ;
    left: 250px ;
    border-radius: 5px ;
    
} 


.ev8points{
    position: absolute;
    top: 50% ;
    left: 70%;
    width: 100vh ;
    height: 100vh ;
    background: black ;
    opacity: 0;
    color: white ;
    color: aqua ;
    text-shadow: 5px 5px 5px palevioletred ;
    font-weight: bold ;
    visibility: hidden;
    transition-property: all ;
    transition-duration: 1s ;
}
.ev8check{
    position: relative ;
    transform: translateY(-220px) translateX(-30px ) ; 
    background: transparent ;
    width: 250px ;
    height: 250px;
    z-index: 0;
    opacity: 0;
}
.ev8check:checked{
    z-index: 1;
}   
.ev8check:checked ~ .ev8points{
    visibility: visible;
    opacity: 0.8;
    left: 72%;
}
















@media screen and (max-width:600px)
{
    body{
        background-size: cover ;
        background-position-x: -200px ;
         
    }
    body h1{
        left: 0px ;
        font-size: 40px ;
    }
    .carousel1{
        left: 10px ;
        top: 40vh ;
    }
    .carouselpoints{
        top: 200px ;
        left: 40px ;
    }
   
    .reviews{
        position: absolute;
        top: 240px ;
        left: 40vh ; 
    }
    #rt1{
        position: absolute;
        top: 50px ;
    }
    
    .dropdown .toggler:checked ~ .menu{

        visibility: visible ;
        opacity: 1;
        transform: translateY(400px) translateX(-870px) scale(10) ;
    }
    #menuitems{
        padding-top: 50% ;
        font-size: 10px ;
        font-style: bold ;

    }
    .intro{
        top: 380px ;
        left: 10px;
        text-shadow: 5px 5px 10px pink ;

    }
    .events{
        
        grid-template-columns: repeat(2,1fr) ;
    }
    .events div{
        width: 120px ;
        height: 120px ;
        
    }
    .events img{
        width: 120px  ;
        height: 120px ;
      
        
    }

}